@model Entidades.PA_Pacientes_MostrarDetallexid_Result

@{
//ViewBag.Title = "EliminarPacientes_PA";
}

<h2>Eliminar Pacientes</h2>

<h3>Esta seguro(a) de que desea eliminar el registro?</h3>
<div>
    @*<h4>PA_Pacientes_MostrarDetallexid_Result</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDPaciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDPaciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAdmision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAdmision)
        </dd>

    </dl>

    @using (Html.BeginForm("AccionesEntidades", "Pacientes", FormMethod.Post)) {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.IDPaciente)


<div class="form-actions no-color">
    <div class="col-md-offset-2 col-md-10">
        <button type="submit" name="submitButton" value="Eliminar"
                class="btn btn-primary" title="Eliminar"
                data-toggle="tooltip" data-container="body"
                data-placement="right">
            Eliminar


        </button>

    </div>
    @Html.ActionLink("Volver", "recPacientes_PA")
</div>
    }
</div>
