@model Entidades.PA_Diagnostico_MostrarDetallexid_Result

@{
    //ViewBag.Title = "ModificaDiagnostico_PA";
}

<h2>Modificar Diagnostico</h2>


@using (Html.BeginForm("AccionesEntidades", "Diagnostico", FormMethod.Post))

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>PA_Diagnostico_MostrarDetallexid_Result</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdDiagnostico, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdDiagnostico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdDiagnostico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdCita, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdCita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdCita, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" name="submitButton" value="Actualizar"
                        class="btn btn-primary" title="Actualizar"
                        data-toggle="tooltip" data-container="body"
                        data-placement="right">
                    Actualizar


                </button>

            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "recDiagnostico_PA")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
